# Gemeinschaft
# $Revision$

# Provisioning for Grandstream *requires* mod_rewrite in order to work!

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	# The phone asks for
	# cfg<MAC-addr> (config) (all)
	# ring[1-3].bin (ringtones) (only BT, GXP, GXV)
	# gs_phonebook.xml (phonebook) (only GXP, GXV)
	
	# Rewrite requests for cfg<MAC-addr>
	RewriteRule ^cfg(000b82[0-9a-f]*)$ settings.php?mac=$1 [L]
	
	# Rewrite request for ring[1-3].bin
	RewriteRule ^ring([1-3]).bin$ ringtones.php?ring=$1 [L]
	
	# Rewrite request for gs_phonebook.xml
	RewriteRule ^(000b82[0-9a-f]*)/gs_phonebook.xml$ gs_phonebook.php?mac=$1 [L]
	
</IfModule>
