# Gemeinschaft
# $Revision: 3373 $

# Provisioning for Polycom *requires* mod_rewrite in order to work!

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	# The phone asks for
	# bootrom.ld
	# <MAC-addr>.cfg
	# 000000000000.cfg
	
	# Rewrite requests for <MAC-addr>.cfg
	RewriteRule ^bootrom\.ld$ bootrom.php [L]
	RewriteRule ^000000000000\.cfg$ defaults.xml [L]
	#RewriteRule ^000000000000-directory\.xml$ directory.php [L]
	RewriteRule ^(0004[Ff]2[0-9A-Fa-f]*)-directory\.xml$ directory.php?mac=$1 [L]
	RewriteRule ^directory\.xml$ directory.php [L]
	RewriteRule ^phone-(0004[Ff]2[0-9A-Fa-f]*)\.cfg$ settings.php?mac=$1 [L]

	# PUT stuff

	RewriteBase /gemeinschaft/prov/polycom/
	RewriteCond %{REQUEST_METHOD} !PUT
	RewriteRule ^/gemeinschaft/prov/polycom/logput\.php$ - [F]
	RewriteCond %{REQUEST_METHOD} PUT
	RewriteCond %{QUERY_STRING} ^$
	RewriteRule ^/gemeinschaft/prov/polycom/logput\.php$ - [F]
	RewriteCond %{REQUEST_METHOD} PUT
	RewriteRule ^(.*)$ logput.php?url=$1 [L]
	
</IfModule>
