/* $Revision$ */

#topheader {
	height: 4px;
	background: #000;
}

#headerboxes {
	background: #0b3;
	border-top: 1px solid #0f1;
	border-bottom: 1px solid #041;
}

.sidebar, #sudo-bar {
	border-top: 1px solid #030;
}

#sudo-info .user-name {
	color: #090;
}

