/* $Revision$ */

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
	color: #000;
	background-color: #fff;
	background-image: url(../img/input-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #bbb #bbb #777;
	padding: 2px 3px;
	-moz-border-radius: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
textarea:focus {
	border-color: #33e #99f #99f #33e;
	outline: 2px solid #bbf;
	-moz-outline-radius: 5px;
	-moz-outline-offset: 0;
}

body {
	background: #fff;
}

#topheader {
	height: 1px;
	background: #000;
}

#headerboxes {
	background: #00e url(../img/header.png);
	border-width: 1px;
	border-style: solid;
	border-color: #99f #004 #004 #66f;
	text-shadow: /*#336*/rgba(0,0,0,0.5) 3px 3px 5px;
}

#langs > a {
	color: #000;  /* or else alt texts would be invisible */
}
#langs > a > img {
	box-shadow: 2px 2px 5px /*#336*/rgba(0,0,0,0.4);
	-moz-box-shadow: 2px 2px 5px /*#336*/rgba(0,0,0,0.4);
	-webkit-box-shadow: 2px 2px 5px /*#336*/rgba(0,0,0,0.4);
}

.sidebar, #sudo-bar {
	border-top: 1px solid #f0f0ff;
}
#sudo-bar {
	border-bottom: 1px solid #ccf;
}

#sudo-info .user-name {
	color: #090;
}

.sidebar,
#sudo-bar {
	background: #ddf;
}

#content {
	background: #fff;
	min-height: 347px;
}


#menu {
	border-right: 1px solid #ccf;
}

#menu a {
	border-color: #eef #cce #cce #eef;
	text-shadow: /*#bbc*/rgba(0,0,0,0.2) 2px 2px 4px;
}
#menu ul li a:hover {
	background: #ccf;
	border-color: #eef #ccc #bebebe #eef;
	text-shadow: /*#aab*/rgba(0,0,0,0.22) 2.5px 2.5px 4px;
}
#menu a.active,
#menu a.active:hover {
	background-color: #fafafa;
	border-color: #eee #fff #fff #eee;
	text-shadow: /*#cdc*/rgba(0,0,0,0.2) 2.5px 2.5px 5px;
}
#menu ul li a:focus,
#menu ul li a:hover:focus {
	/*text-shadow: transparent 0 0 0;*/
}
a:focus {outline: 0 none transparent;}
/*
#menu a:hover > img {
	-moz-transform: scale(1.15);
}
*/
/*
#menu a:hover > img {
	xtransform: scale(1.8) rotate(-4deg);
	x-moz-transform: scale(1.8) rotate(-4deg);
	x-webkit-transform: scale(1.8) rotate(-4deg);
}
*/


td, .td {
	background: #f0f0f3;
}
tr.even td {
	background: #e9e9eb;
}
tr.odd td {
	background: #f6f6f6;
}
th, .th {
	background: #d0d3ff;
	color: #04a;
}
tbody tr.even th {
	background: #d0d3ff;
}
tbody tr.odd th {
	background: #e0e0ff;
}

#content h2 {
	color: #00a;
}
#content h3 {
	color: #36f;
}

.sort-col {
	color: #0a3;
}

.quickchars a {
	color: #9ae;
}
.quickchars a:hover {
	color: #00e;
}

.grouptabs a {
        text-decoration: none;
        color: #9ae;
        display: block;
        float: left;
        font-size: 1.1em;
}
.grouptabs a:hover {
        font-size: 1.3em;
        color: #00e;
        line-height: 0.9em;
}

.grouptabsactive a {
        text-decoration: none;
        color: #000;
        display: block;
        float: left;
        font-size: 1.1em;
}
.grouptabsactive a:hover {
        color: #222;
        font-size: 1.3em;
        line-height: 0.9em;
}

