/* $Revision$ */

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
	color: #000;
	background-color: #fff;
	background-image: url(../img/input-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #bbb #bbb #777;
	padding: 2px 3px;
	-moz-border-radius: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
textarea:focus {
	border-color: #33e #99f #99f #33e;
	outline: 2px solid #bbf;
	-moz-outline-radius: 5px;
	-moz-outline-offset: 0;
}

body {
	background: #fff;
}

#topheader {
	height: 1px;
	background: #000;
}

#headerboxes {
	background: #00e url(../img/header.png);
	border-width: 1px;
	border-style: solid;
	border-color: #99f #004 #004 #66f;
}

#langs > a {
	color: #000;  /* or else alt texts would be invisible */
}

.sidebar, #sudo-bar {
	border-top: 1px solid #f0f0ff;
}
#sudo-bar {
	border-bottom: 1px solid #ccf;
}

#sudo-info .user-name {
	color: #090;
}

.sidebar,
#sudo-bar {
	background: #ddf;
}

#content {
	background: #fff;
	min-height: 347px;
}


#menu {
	border-right: 1px solid #ccf;
}

#menu a {
	border-color: #eef #cce #cce #eef;
}
#menu ul li a:hover {
	background: #ccf;
	border-color: #eef #ccc #bebebe #eef;
}
#menu a.active, #menu a.active:hover {
	background-color: #fafafa;
	border-color: #eee #fff #fff #eee;
}


td, .td {
	background: #f0f0f3;
}
tr.even td {
	background: #e9e9eb;
}
tr.odd td {
	background: #f6f6f6;
}
th, .th {
	background: #d0d3ff;
	color: #04a;
}
tbody tr.even th {
	background: #d0d3ff;
}
tbody tr.odd th {
	background: #e0e0ff;
}

#content h2 {
	color: #00a;
}
#content h3 {
	color: #36f;
}

.sort-col {
	color: #0a3;
}

.quickchars a {
	color: #9ae;
}
.quickchars a:hover {
	color: #00e;
}
