/* $Revision$ */

#topheader {
	height: 4px;
	background: #000;
}

#headerboxes {
	background: #00e;
	border-top: 1px solid #33f;
	border-bottom: 1px solid #00b;
}

.sidebar, #sudo-bar {
	border-top: 1px solid #030;
}

#sudo-info .user-name {
	color: #090;
}

