/* $Revision: 4513 $ */

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
	color: #000;
	background-color: #fff;
	background-image: url(../img/input-bg.png);
	background-position: left top;
	background-repeat: no-repeat;
	border-width: 1px;
	border-style: solid;
	border-color: #666 #bbb #bbb #777;
	padding: 2px 3px;
	-moz-border-radius: 3px;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="file"]:focus,
textarea:focus {
	border-color: #33e #99f #99f #33e;
	outline: 2px solid #bbf;
	-moz-outline-radius: 5px;
	-moz-outline-offset: 0;
}

body {
	background: #fff;
}

#topheader {
	height: 1px;
	background: #000;
}

#headerboxes {
	background: #ffffff;
	border-width: 1px;
	border-style: solid;
	border-color: #D0C9B3 #D0C9B3 #B4A884 #B4A884;
}

#langs > a {
	color: #000;  /* or else alt texts would be invisible */
}

.sidebar, #sudo-bar {
	border-top: 1px solid #f0f0ff;
}
#sudo-bar {
	border-bottom: 1px solid #ccf;
}

#sudo-info .user-name {
	color: #090;
}

.sidebar,
#sudo-bar {
	background: #D0C9B3;
}

#content {
	background: #fff;
	min-height: 347px;
}


#menu {
	background: #D0C9B3;
	border-right: 1px solid #ccf;
}

#menu a {
	border-color: #D0C9B3 #D0C9B3 #B4A884 #B4A884;
}
#menu ul li a:hover {
	background: #F1EEE4;
	border-color: #D0C9B3 #D0C9B3 #B4A884 #B4A884;
}
#menu a.active, #menu a.active:hover {
	color: #CE0B06;
	background-color: #fafafa;
	border-color: #D0C9B3 #D0C9B3 #B4A884 #B4A884;
}


td, .td {
	background: #f0f0f3;
}
tr.even td {
	background: #e9e9eb;
}
tr.odd td {
	background: #f6f6f6;
}
th, .th {
	background: #B4A884;
	color: #32;
}
tbody tr.even th {
	background: #d0d3ff;
}
tbody tr.odd th {
	background: #e0e0ff;
}

#content h2 {
	color: #505050;
}
#content h3 {
	color: #505050;
}

.sort-col {
	color: #000000;
}

.quickchars a {
	color: #9ae;
}
.quickchars a:hover {
	color: #00e;
}

#boxtitle {
        float: left;
        margin: 1px 0 0 5px;
}
#boxtitle h1 {
        color: #000000;
        font-size: 20px;
        font-weight: normal;
        line-height: 1.6em;
        display: inline;
        margin: 0;
        padding: 0 0 0 5px; 
}
