/* $Revision$ */

/*
	Fix display in the broken Microsoft Internet Explorer
*/

#content-container {
	width: auto;
}
#content {
	width: auto;
}

#menu ul li ul {
	display: none;
}
#menu ul li.expanded ul {
	display: block;
}
#menu li {
	margin: 0;
}

#sudo-bar {
	padding-bottom: 3px;
}
#sudo-form {
	margin-top: -2px;
}
#sudo-user {
	margin-bottom: -1px;
}
