/* $Revision$ */

/*
	Fix display in the broken Microsoft Internet Explorer
*/

#content-container {
	position: absolute;
	width: auto;
}
#content {
	width: auto;
	padding: 1em 1.5em;
	margin: 0;
}

#menu ul li ul {
	display: none;
}
#menu ul li.expanded ul {
	display: block;
}
#menu li {
	margin: 0;
	font-size: 11px;
}

