/* $Revision$ */

/*
	defaults
*/

div {margin: 0; padding: 0;}
img {vertical-align: middle;}

a img {border: 0 transparent none;}


/*
Note: Do not override border and background on UI controls or
Firefox 3 will not use the native controls of the operating system.
*/

form {
	margin: 0;
	padding: 0;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea {
	padding: 0px 1px;
	margin: 0;
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="file"]:disabled,
input[type="button"]:disabled,
input[type="submit"]:disabled,
input[type="reset"]:disabled,
input[type="checkbox"]:disabled,
button:disabled,
select:disabled,
textarea:disabled {
	color: #666;
	/*background: #eee;*/
	opacity: 0.8;
}

input[type="text"],
input[type="password"],
input[type="file"],
select,
textarea {
	color: #000;
	/*
	border-width: 1px;
	border-style: solid;
	border-color: #666 #ccc #ccc #666;
	background: #fff;
	*/
}

input[type="file"] {
	/* the stupid file field does not let us override the border-width */
	/*border-color: #fff #fff #fff #fff;*/
}

input[type="button"],
input[type="submit"],
input[type="reset"],
button {
	color: #000;
	/*
	border-width: 1px;
	border-style: solid;
	border-color: #fff #666 #666 #fff;
	*/
}
input[type="button"],
input[type="submit"],
button {
	color: #00b;
}

select {/*background: #fff;*/}


table {
	margin: 0 0 1px 0; padding: 0; border-width: 0;
}

small,
.small,
.s
{
	font-size: 0.93em;
	line-height: 1.2em;
}
.xs
{
	font-size: 0.87em;
	line-height: 1.2em;
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	/*cursor: pointer;*/  /* to make <button>s indistinguishable from <a>s from
				   from the users' perspective */
}

option {margin: 0; padding: 0 2px;}

sup, sub {font-weight: normal; font-size: 75%;}
sup {vertical-align: top;}
sub {vertical-align: bottom;}

*:lang(C)     > * { quotes: '"'     '"'     "'"     "'"    ; }
*[lang|="C"]  > * { quotes: '"'     '"'     "'"     "'"    ; }
:lang(en)     > * { quotes: "\201C" "\201D" "\2018" "\2019"; }
*[lang|="en"] > * { quotes: "\201C" "\201D" "\2018" "\2019"; }
:lang(de)     > * { quotes: "\201E" "\201C" "\201A" "\2018"; }
*[lang|="de"] > * { quotes: "\201E" "\201C" "\201A" "\2018"; }

q:before { content: open-quote; }
q:after  { content: close-quote; }



/*
	shortcuts
*/

.nofloat {
	float: none;
	display: block;
	clear: both;
}

.fl {float: left;}
.fr {float: right;}

.l {text-align: left;}
.r {text-align: right;}
.c {text-align: center;}

.t {vertical-align: top;}
.m {vertical-align: middle;}
.b {vertical-align: bottom;}

.m,
tr.m td,
tr.m th {
	vertical-align: middle;
}
.t,
tr.t td,
tr.t th {
	vertical-align: top;
}
.b,
tr.b td,
tr.b th {
	vertical-align: bottom;
}

.gray {
	color: #979797;
}

.debug {
	border: 2px dashed red !important;
}

.inline {display: inline;}

.ie_clearing {
	display: block;
	width: 100%;
	height: 0;
	font-size: 0; line-height: 0;
	padding: 0  1px 0  5px;
	margin:  0 -1px 0 -5px;
	visibility: hidden;
}

.tty {
	display: none; visibility: hidden;
	width: 0px; height: 0px;
}
@media tty
{
	.tty {
		display: inline; visibility: visible;
		width: auto; height: auto;
	}
}

.nobr {
	white-space: nowrap;
	/* like <nobr></nobr> in HTML 4 */
}

.pre {
	white-space: pre !important;
	font-family: "Lucida Sans Typewriter", "Andale Mono", Courier, Monaco, "Courier New", monospace !important;
	font-size: 1.15em !important;
}





code, tt, samp, kbd {
	font-family: "Lucida Sans Typewriter", "Andale Mono", Courier, Monaco, "Courier New", monospace;
	font-size: 1.05em;
}
.s > code, .s > tt, .s > samp, .s > kbd,
.xs > code, .xs > tt, .xs > samp, .xs > kbd {
	font-size: 0.99em;
}

input._admincfg {
	/* used by mod/admin_config.php only */
	font-family: "Lucida Sans Typewriter", "Andale Mono", Courier, Monaco, "Courier New", monospace;
	font-size: 1.3em;
	margin: -1px 0;
	padding: 2px 5px;
	border-style: solid;
	border-width: 1px;
	border-color: #bbb #fff #fff #bbb;
}


/*
	layout
*/

body {
	text-align: left;
	background: #fff;
	padding: 0;
	margin: 0;
	color: #000;
}

body, td, th {
	font-family: Arial, Helvetica, Geneva, Verdana, sans-serif;
	font-size: 9pt;
	line-height: 1.3em;
}

input[type="button"],
button,
select {
	font-size: 92%;
}

#topheader {
	height: 5px;
	background: #fff;
}

#headerboxes {
	height: 35px;
	/*
	background:#ff9500;
	border-top: 2px solid #fec446;
	border-bottom: 2px solid #fe7700;
	*/
	/*background: #b7976f url(../img/header-2.jpg) no-repeat;*/
	background: #b7976f;
	/*border-bottom: 1px solid #7a7a7a;*/
	overflow: hidden;
}

#boxtitle {
	float: left;
	margin: 1px 0 0 5px;
}
#boxtitle h1 {
	color: #fff;
	font-size: 20px;
	font-weight: normal;
	line-height: 1.6em;
	display: inline;
	margin: 0;
	padding: 0 0 0 5px;
}
#boxtitle h1 .version {
	font-family: Helvetica, Arial, Geneva, Verdana, sans-serif;
	font-size: 12px;
	font-weight: normal;
	vertical-align: baseline;
	opacity: 0.7;
	margin: 0 1px;
}

/*
#boxbanner {
	height: 80px;
	width: 260px;
	background: transparent url(../img/header-1.jpg) no-repeat left top;
	float: left;
}
*/

#langs {
	float: right;
	margin-right: 4px;
	margin-top: 1px;
	width: 25%;
	text-align: right;
}
#langs img {
	margin: 1px 1px 0 1px;
}
#langs > a {
	font-size: 0.9em;
}

#sudo-bar {
	background: #e0e0e0;
	padding: 3px 0 2px 0;
	font-size: 0.92em;
	color: #866;
	margin-left: 170px;
}
#sudo-info .user-name {
	color: #0a3;
}
#sudo-info {
	float: left;
	width: 50%;
	width: auto;
	text-align: left;
	padding: 0; margin: 0 0 0 2px;
}
#sudo-form {
	float: right;
	width: 47%;
	width: auto;
	text-align: right;
	padding: 0; margin: 0 5px 1px 0;
}
#sudo-info.with-boi {
	width: 50%;
	width: auto;
}
#sudo-form.with-boi {
	width: 67%;
	width: auto;
}
#sudo-user {
	border: 1px inset #fff;
	margin: 0; padding: 1px 2px 0px 2px;
	/*width: 118px;*/
	font-size: 0.92em;
}


	
h1, h1 a,
h2, h2 a,
h3 a,
h4 a {
	color: #505050;
}

h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover {
	color: #505050;
}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Verdana, sans-serif;;
	font-weight: bold;
	font-size: 2em;
	padding: 15px 0;
	margin: 0;
}

#headlines h2 {
	font-family: Arial, Helvetica, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	color: #336699;
	display: block;
}

#content h2 {
	font-family: "Trebuchet MS", Arial, Helvetica, Geneva, Verdana, sans-serif;
	font-weight: bold;
	font-size: 1.7em;
	margin: 0; padding: 0.2em 0 0.6em 0;
}
#content h3 {
	font-weight: bold;
	font-size: 1.4em;
	margin: 0; padding: 0.1em 0 0.3em 0;
	color: #963;
	/*border-bottom: 1px solid #aaa;*/
}

#content p {
	margin: 0;
	padding: 0 0 1.2em 0;
}

#content p.text {
	max-width: 45em;
	line-height: 1.4em;
}



.sidebar {
	width: 170px;
	background: #e0e0e0;
	vertical-align: top;
	float: left;
}

#menu {
	/*font-size: 0.95em;*/
	line-height: 1.5em;
	margin: 24px 0.1em 1em 0.1em;
	min-height: 360px;
}



#menu li {
	list-style: none;
	list-style-image: none;
	/*background: no-repeat left bottom url(block-li-divider.png);*/
	/*list-style-image: url(menu-leaf.png);*/
	margin: 0 0;
}
#menu li.expanded {
	list-style-type: none;
	list-style-image: none;
 	/*list-style-image: url(menu-expanded.png);*/
}
#menu li.collapsed {
	list-style-type: none;
	list-style-image: none;
	/*list-style-image: url(menu-collapsed.png);*/
}
#menu li.leaf {
	list-style-type: none;
	list-style-image: none;
	/*list-style-image: url(menu-leaf.png);*/
}
#menu li ul {
	list-style: none;
}

#menu a {
	color: #333;
	text-decoration: none;
	font-weight: bold;
	display: block;
	padding-top: 2px;
	padding-bottom: 2px;
	/*border-bottom: 1px solid #fcfcfc;*/
	margin: 0;
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: #eaeaea #ccc #d6d6d6 #eee;
}
#menu ul li a:hover {
	background: #ccc;
	border-color: #e0e0e0 #ccc #bebebe #eee;
}
#menu a.active, #menu a.active:hover {
	background-color: #fafafa;
	color: #094;
	border-color: #e9e9e9 #ccc #fff #eee;
}
#menu li.leaf a.active {
	margin-right: -1px;
	background-color: #fff;
}

#menu ul {
	padding: 0;
	margin: 0;
}
#menu ul a {
	padding-left: 20px;
	margin: 0;
}
#menu > ul > li > a {
	padding-left: 8px;
	margin: 0;
}
#menu > ul > li > ul {
	display: none;
}
#menu > ul > li.expanded > ul {
	display: block;
}



#content-container {
	width: 100%;
}
#content {
	width: auto;
	padding: 1em 1.5em;
	margin-left: 170px;
}
#boi-content {
	width: 100%;
	margin: 0;
	padding: 0;
	border-width: 1px 0 0 0;
	border-style: solid none none none;
	border-color: #99f transparent transparent #eef;
	background: transparent;
	min-height: 370px;
	height: 100em;
}

#copyright {
	text-align: center;
	font-size: 0.96em;
	margin: 0 auto 3px auto;
	line-height: 1.3em;
}
#copyright,
#copyright a {
	color: #889;
	text-decoration: none;
}
#copyright img {
	vertical-align: -5%;
}



button.plain {
	border: 0 transparent none;
	margin: 0 0;
	padding: 0 0;
	vertical-align: middle;
	background: transparent;
}



th, td, .td {
	padding: 2px 6px;
	text-align: left;
}
td, .td {
	background: #eee;
	vertical-align: baseline;
}
tr.even td {
	background: #e6e6e6;
}
tr.odd td {
	background: #f3f3f3;
}

th, td.th, .th {
	background: #dde7c4;
	padding-top: 4px;
	padding-bottom: 4px;
	font-weight: bold;
	/*vertical-align: middle;*/
	vertical-align: baseline;
}
tbody th {
	padding: 2px 6px;
	text-align: left;
	/*vertical-align: baseline;*/
}
thead th, td.th, .th {
	vertical-align: middle;
}
/*
tbody tr.even th {
	background: #dde7c4;
}
tbody tr.odd th {
	background: #dde7c4;
}
*/


table.phonebook td,
table.phonebook input,
table.phonebook select {
	font-family: Verdana, Arial, sans-serif;
	font-size: 0.97em;
}

table.smalltbl td {
	font-family: Verdana, Arial, sans-serif;
	font-size: 9px;
	padding: 1px 3px;
	line-height: 12px;
}
table.smalltbl td img {margin:-3px 0 -3px 0;}

table.tinytbl {
	padding: 0; margin: 0;
}
table.tinytbl td {
	font-family: Verdana, Arial, sans-serif;
	font-size: 10px;
	padding: 0px 0px;
	line-height: 10px;
}
table.tinytbl td input {
	margin: 1px 2px;
}


.sort-col {
	color: #082;
}


.quickchars {
	background: #fff;
}
.quickchars a {
	text-decoration: none;
	width: 17px;
	color: #9b8;
	display: block;
	float: left;
	font-size: 1.1em;
}
.quickchars a:hover {
	color: #00e;
	font-size: 1.3em;
	line-height: 0.9em;
}

.transp,
tr.even .transp,
tr.odd .transp {
	background: transparent;
}



.ivr_steps {
	border: 1px solid green;
	margin: 1px; padding: 0;
	line-height: 1.1em;
	width: 30em;
}
.ivr_children {
	border: 1px solid purple;
	margin: 1px; padding: 0;
	line-height: 1.1em;
}
.ivr_ext {
	font-weight: bold;
	color: #00a;
}
.ivr_ext kbd {
	font-size: 1.1em;
}
.ivr_ivr {
	border: 1px solid red;
	margin: 5px; padding: 0;
	line-height: 1.1em;
}
.ivr_children_tbl td {
	padding: 0px;
}
.ivr_editor img {
	margin: 1px;
	line-height: 1.1em;
}
.ivr_editor * {
	font-family: "Lucida Sans Typewriter", "Andale Mono", Courier, Monaco, "Courier New", monospace !important;
	font-size: 11px !important;
	line-height: 1.1em !important;
}


.successbox,
.noticebox,
.errorbox {
	margin: 0 0px 10px 0px;
	min-width: 10em;
	padding: 5px;
	text-align: center;
	background-color: #fff;
	-moz-border-radius: 5px;
}
.successbox {
	border: 2px solid #0c0;
	background-color: #e9ffe9;
	color: #050;
}
.noticebox {
	border: 2px solid #cca;
	background-color: #ffffcc;
	color: #440;
}
.errorbox {
	border: 2px solid #f30;
	background-color: #ffe6e3;
	color: #500;
}


#dialog {
	position: absolute;
	width: 425px;
	padding: 10px;
	z-index: 200;
	background: #e9e9eb;
}
#dialog-header {
	display: block;
	position: relative;
	width: 411px;
	padding: 3px 6px 7px 3px;
	height: 14px;
	font-size: 14px;
	font-weight: bold;
}
#dialog-title {
	float: left;
}
#dialog-content {
	display: block;
	height: 160px;
	padding: 6px;
	color: #666666;
	font-size: 13px
}
#dialog-mask {
	position: absolute;
	top: 0;
	left: 0;
	min-height: 100%;
	width: 100%;
	background: #fff;
	-moz-opacity: .75;
	opacity: .75;
	z-index: 100;
}


.radio_and_label_blocks {
	display: block;
	display: table;
	margin: 0 -1px;
	padding: 0;
}
.radio_and_label_block {
	display: block;
	display: table-row;
}
.radio_and_label_block > input[type="radio"],
.radio_and_label_block > input[type="checkbox"] {
	display: inline;
	display: table-cell;
	vertical-align: baseline;
	/*margin: 2px 2px 2px 2px;*/
}
.radio_and_label_block > label {
	display: inline;
	display: table-cell;
	padding-left: 0.2em;
	vertical-align: baseline;
}


.bargraph {
	display: block;
	position: relative;
	background: #5c60ff;
	text-align: center;
	color: #000000;
}


table.extmonhd {
	width: 100%;
	color: #000;
	background-color: #f0f0f3;
	border: none;
	border-spacing: 2px;
}

table.extmon {
	color: #000000;
	background-color: #f0f0f3;
	border: none;
	border-spacing: 1px;
}

th.extmonhd {
	white-space: nowrap;
	width:10%;
	text-align: left;
	background: #d0d3ff;
	color: #04a;
}

td.extmonhd {
	text-align: right;
	font-family: Verdana;
}

td.extmonhdcalls {
	width: 2%;
	text-align: right;
	font-family: Verdana;
	font-weight: bold;
	font-size: 16px;
}

td.extmon {
	text-align: left;
	border: 1px solid #6699CC;
}

