
[iaxmodem00]
type=friend
secret=myiaxmdpwd
host=127.0.0.1
context=from-fax-server
disallow=all
allow=alaw
port=14570

[iaxmodem01]
type=friend
secret=myiaxmdpwd
host=127.0.0.1
context=from-fax-server
disallow=all
allow=alaw
port=14571

