DirectoryIndex index.php index.html
Options +FollowSymLinks -SymLinksIfOwnerMatch -Indexes -MultiViews
DefaultType text/html

<IfModule mod_mime.c>
	AddDefaultCharset UTF-8
	
	<IfModule mod_php4.c>
		AddType application/x-httpd-php .php
		
		php_flag engine On
		php_flag last_modified Off
		php_flag xbithack Off
		php_flag magic_quotes_gpc Off
		php_flag magic_quotes_runtime Off
		php_flag track_vars Off
		php_flag register_globals Off
		php_flag register_long_arrays Off
		php_flag register_argc_argv Off
		php_flag auto_globals_jit On
		php_value max_execution_time 35
		php_value mbstring.func_overload 0
		php_value include_path .
		php_flag define_syslog_variables Off
		php_flag allow_url_fopen On
		php_flag allow_url_include Off
		php_flag file_uploads On
		#php_value upload_max_filesize 4000000
		#php_value post_max_size 6000000
		php_flag always_populate_raw_post_data Off
	</IfModule>
	
	<IfModule mod_php5.c>
		AddType application/x-httpd-php .php
		
		php_flag engine On
		php_flag last_modified Off
		php_flag xbithack Off
		php_flag magic_quotes_gpc Off
		php_flag magic_quotes_runtime Off
		php_flag track_vars Off
		php_flag register_globals Off
		php_flag register_long_arrays Off
		php_flag register_argc_argv Off
		php_flag auto_globals_jit On
		php_value max_execution_time 35
		php_value mbstring.func_overload 0
		php_value include_path .
		php_flag define_syslog_variables Off
		php_flag allow_url_fopen On
		php_flag allow_url_include Off
		php_flag file_uploads On
		#php_value upload_max_filesize 6000000
		#php_value post_max_size 8000000
		php_flag always_populate_raw_post_data Off
	</IfModule>
	
	<IfModule !mod_php4.c>
		<IfModule !mod_php5.c>
			<IfModule !mod_fastcgi.c>
				<IfModule !mod_fcgid.c>
					<IfModule mod_actions.c>
						<IfModule mod_cgi.c>
							AddType application/x-httpd-php .php
							
							Action application/x-httpd-php /cgi-bin/php
						</IfModule>
						<IfModule mod_cgid.c>
							AddType application/x-httpd-php .php
							
							Action application/x-httpd-php /cgi-bin/php
						</IfModule>
					</IfModule>
				</IfModule>
			</IfModule>
		</IfModule>
	</IfModule>
</IfModule>

<IfModule mod_expires.c>
	ExpiresActive On
	
	ExpiresByType image/gif      "now plus 12 hours"
	ExpiresByType image/jpeg     "now plus 12 hours"
	ExpiresByType image/jpg      "now plus 12 hours"
	ExpiresByType image/png      "now plus 12 hours"
	ExpiresByType image/svg+xml  "now plus 12 hours"
	
	ExpiresByType text/html                "now plus 6 hours"
	ExpiresByType application/xhtml+xml    "now plus 6 hours"
	ExpiresByType text/plain               "now plus 6 hours"
	ExpiresByType text/css                 "now plus 6 hours"
	ExpiresByType text/javascript          "now plus 6 hours"
	ExpiresByType application/x-javascript "now plus 6 hours"
</IfModule>

<IfModule mod_headers.c>
	# remove X-Powered-By: PHP ...
	Header unset X-Powered-By
</IfModule>

<IfModule mod_rewrite.c>
	RewriteEngine On
	#RewriteCond %{REQUEST_FILENAME} !-f
	#RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule ^index\.php$   - [L]
	RewriteRule ^prov/         - [L]
	RewriteRule ^crystal-svg/  - [L]
	RewriteRule ^img/          - [L]
	RewriteRule ^js/           - [L]
	RewriteRule ^mon/          - [L]
	RewriteRule ^styles/       - [L]
	RewriteRule ^srv/          - [L]
	RewriteRule ^favicon\.ico$ - [L]
	RewriteRule ^monitor\.php$ - [L]
	RewriteRule ^setup/        - [L]
	RewriteRule ^soap/         - [L]
	RewriteRule ^mod/admin_billing.php - [L]
	#RewriteRule ^([^/]+)(?:/([^/]+))? index.php?sudo=$1&s=$1&m=$2 [QSA,L]
	RewriteRule ^([^/]+)(?:/([^/]+))?(?:/([^/]+))? index.php?sudo=$1&s=$2&m=$3 [QSA,L]
	<IfModule mod_env.c>
		SetEnv _GS_HAVE_REWRITE 1
	</IfModule>
</IfModule>

## Deny config.inc.php file
#<Files config.inc.php>
#	Order deny,allow
#	Deny from all
#</Files>
	
## Authorize for setup
#<Files setup.php>
#	# For Apache 1.3 and 2.0
#	<IfModule mod_auth.c>
#		AuthType Basic
#		AuthName "Gemeinschaft Setup"
#		AuthUserFile /etc/gemeinschaft/htpasswd.setup
#	</IfModule>
#	# For Apache 2.2
#	<IfModule mod_authn_file.c>
#		AuthType Basic
#		AuthName "Gemeinschaft Setup"
#		AuthUserFile /etc/gemeinschaft/htpasswd.setup
#	</IfModule>
#	Require valid-user
#</Files>
