# Gemeinschaft
# $Revision$

# Provisioning for Aastra *requires* mod_rewrite in order to work!

<IfModule mod_rewrite.c>
	RewriteEngine on
	
	# The phone asks for
	# aastra.cfg
	# aastra.tuz
	# security.tuz
	# <MAC-addr>.cfg
	# <model>.st firmware if firmware update has been enabled
	
	RewriteRule ^aastra\.cfg$ settings.php [L]
	RewriteRule ^(00085D[0-9A-F]*)\.cfg$ settings.php?mac=$1 [L]
	RewriteRule ^([0-9A-Za-z]*\.st)$ sw/$1 [QSA,L]	
	
</IfModule>
